/* Styles go here */

body {
    background: #B9E6E4;
}

.btn.btn-danger {
    margin-left: 10px;
}

input[type="text"] {
    margin-left: 5px;
}

/*http://codepen.io/Russbrown/pen/IgBuh*/
li input[type="checkbox"] {
  width: 40px;
}

.done { text-decoration: line-through;
  color: #ddd;
}

.inputbox {
    display: none;
    transition: all 0.5 ease;
}
.crossout {
	text-decoration: line-through;
	color: grey;
	font-style: italic;
}
h2 {
	color: black;
}
h2 >small {
	color: grey;
}
